<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="data != null || data != undefined">IMG-{{data.filepath}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
          <ion-img *ngIf="data != null || data != undefined" src="{{ data.base64 ? data.base64 : data.webviewPath }}"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
